.headerFooter{
  padding: 60px 0;
  box-shadow: rgb(0 0 0 / 8%) 0 1px 0;
  .headerFooterItem {
    .imgFooter {
      width: 100%;
      border-radius: 10px;
      min-height: 200px;
      object-fit: cover;
    }
    .title {
      font-weight: 500;
      margin-top: 10px;
    }
  }
}