.roomUtilities{
  .heading{
    box-shadow: rgba(0, 0, 0, 0.08) 0 1px 0;
    padding-bottom: 20px;
  }
  .title{
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 25px;
  }
  .detailDesc{
    padding-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.08) 0 1px 0;
    .descItem{
      display: flex;
      align-items: center;
      margin-top: 25px;
    }
  }
  .utilities{
    margin: 20px 0;
    box-shadow: rgba(0, 0, 0, 0.08) 0 1px 0;
  }
}