.location {
  padding: 200px 0 100px 0;
  box-shadow: rgb(0 0 0 / 8%) 0 1px 0;
  .locationItem {
    align-items: center;
    img {
      width: 200px;
      height: 200px;
      border-radius: 8px;
      object-fit: cover;
    }
    .locationDetail {
      margin: 8% 0 0 10%;
    }
  }
}
.arrowItem {
  font-size: 20px !important;
}