.avaImg{
  width: 180px !important;
  height: 180px;
  object-fit: cover;
  margin-bottom: 30px;
}
.btnAva{
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
  padding-top: 20px;
  position: relative;

  border-top: 1px solid #CED0D4;
}